name: Build Binaries (Separate OS Runners)

on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.23
      - name: Install build deps (for go-sqlite3 on Linux)
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential
      - name: Build (linux/amd64)
        run: |
          CGO_ENABLED=1 GOOS=linux GOARCH=amd64 go build -o user-info-service_linux_amd64 .
      - name: Upload Artifact (Linux)
        uses: actions/upload-artifact@v4.6.0
        with:
          name: user-info-service-linux-amd64
          path: user-info-service_linux_amd64

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.23
      - name: Build (windows/amd64)
        run: |
          go build -o user-info-service_windows_amd64.exe .
      - name: Upload Artifact (Windows)
        uses: actions/upload-artifact@v4.6.0
        with:
          name: user-info-service-windows-amd64
          path: user-info-service_windows_amd64.exe

  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.23
      - name: Build (darwin/amd64)
        run: |
          CGO_ENABLED=1 GOOS=darwin GOARCH=amd64 go build -o user-info-service_darwin_amd64 .
      - name: Upload Artifact (Mac)
        uses: actions/upload-artifact@v4.6.0
        with:
          name: user-info-service-darwin-amd64
          path: user-info-service_darwin_amd64
  
  release:
    needs: [build-linux, build-windows, build-macos]
    runs-on: ubuntu-latest
    permissions:
      contents: write

    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4.1.8

      - name: test
        run: ls -la
      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            user-info-service-linux-amd64
            user-info-service-darwin-amd64
            user-info-service-windows-amd64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
